.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px 42px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: fit-content;
  padding: 12px;
  border-radius: 8px;
}

.post-title {
  font-size: 24px;
}

.tags-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.post-tag {
  border-radius: 4px;
  padding: 4px;
  background-color:rgb(178, 175, 171);
  color: white;
}